 

*
{
    background-color: black;
}

.full{
    background-color: blue;
    max-width: 100cm;
    min-width: 10cm;
    max-height: 30cm;
    min-height: 9cm;
    margin: 1cm;
    padding: 0.7cm;
    border-radius: 10px;
}

.input{
    background-color: crimson;
    min-width: 8cm;
    min-height: 1cm;
    border-radius: 20px;
    padding: 0.3cm;
}

.user-logo{
    background-color: black;
    height: 0.9cm;
    width: 0.9cm;
    border-radius: 50%;
    
}

.cpan{
    position: relative;
    margin-top: 4px;
    max-width: 7.5cm;
    border-radius: 8px;
    left: 1cm;
    bottom: 0.23cm;
}

.cbut{
    border: black;
    background-color: black;
    border-radius: 8px;
    color: white;
}

.output{
    margin-top: 1cm;
    margin-left: -0.1cm;
    margin-right: -0.1cm;
    background-color: orange;
    min-width: 8.5cm;
    min-height: 6cm;
    border-radius: 20px;
    padding: 0.5cm;
}


.short{
    background-color: yellowgreen;
    padding: 0.25cm;
    min-width: 8cm;
    min-height: 1cm;
    max-height: 2.5cm;
    border-radius: 20px;
}

.ans-box{
    background-color: yellowgreen;
    min-width: 8cm;
    min-height: 6cm;
    margin-top: 0.3cm;
    border-radius: 20px;
    padding: 0.3cm;
}

.image{
    background-color: green;
    width: 2.5cm;
    height: 2.5cm;
    position: relative;
    float: right;
    border-radius: 5px;
}
